
.game-layout {
  display: flex;
  gap: 20px;
}

.game-board {
    aspect-ratio: 1 / 1;
    /*outline: 2px solid #7fd1ae;*/
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-left: 40px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 3rem;
    line-height: 100px;
    margin: 1px;
    border: 1px solid #4A3B2A;
}

.cell:hover {
    background-color:#FFE2B8;
}

.cell:active {
    transform: translateY(1px);
}

.player-type-div {
    display: block;
}

.rules-div {
    display: block;
    margin-top: 20px;
}

.reset-div {
    display: block;
    margin-top: 20px;
}

